window {
  background-color: #555;
}

#outer-box {
  margin: 2px;
  background-color: #222;
}

#input {
  margin: 5px;
}

#inner-box {
  margin-top: 5px;
}

#entry > box {
  padding-left: 15px;
}

#entry label {
  padding-left: 10px;
}
